@charset "UTF-8";
#container{
		width: 400px;
		margin: 0 auto;
	}
	h2{text-align: center;}
	ul li{
		list-style: none;
		margin: 15px;
	}
	li label{
		width: 80px;
		float: left;
	}
	li input[type="submit"]{
		width: 250px;
		margin-bottom: 20px;
	}